deploy/
steamworks_sdk/
target/
tmp/

# Houdini backup folders in assets
assets/**/backup/*.hiplc
assets/**/backup/*.hdalc
# Houdini filecaches
assets/**/*filecache*
# Houdini exports
assets/**/cable/*.glb
assets/**/overgrowth/*.glb
# Blender backup files
assets/**/*.blend1
