deploy/
steamworks_sdk/
target/
tmp/

# Houdini backup folders in assets
assets/**/backup/*.hiplc
assets/**/backup/*.hdalc
# Houdini filecaches
assets/**/*filecache*
# Houdini exports
assets/**/cable/*.glb
assets/**/overgrowth/*.glb
# Blender backup files
assets/**/*.blend1
# Raw audio assets
assets/recola/audio/raw/
# Ableton backup files
assets/recola/audio/**/Backup/

# Some more Houdini
assets/recola/intro_vid/geo/
